*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Notable', sans-serif;
font-family: 'Mali', cursive;
}
h1{
    text-align: center;
font-size: 40px;
color: rgb(196, 10, 10);

}
h2{
    text-align: center;
    color: rgb(196, 10, 10);
}
